@import "../../../../scss/main/variables";

.header {
  box-shadow: $b-shadow;
  background-color: $body-bg-color;
  position: fixed;
  width: 100%;
  z-index: 10;

  @media (max-width: $screen-sm-max) {

  }

  .container {
    height: 70px;
    display: flex;
    align-items: center;

    @media (max-width: $screen-sm-max) {
      justify-content: space-between;
      min-height: 48px;
      height: auto;
      position: relative;
    }
  }
}