@import "../../../../scss/main/variables";

.header {
  box-shadow: $b-shadow;
  background-color: $body-bg-color;

  .container {
    height: 70px;
    display: flex;
    align-items: center;

    @media (max-width: $screen-sm-max) {
      justify-content: space-between;
      min-height: 48px;
      height: auto;
    }
  }
}