@import "../../../../scss/main/mixin";
@import "../../../../scss/main/variables";

.header {
  @include b-shadow;
  background-color: $body-bg-color;

  &__desk {
    height: 80px;
  }

  .container {
    padding: 10px 0;
    display: flex;
  }
}