@import "../../../../scss/main/variables";

.main-menu {
  width: 100%;
  padding: 0;

  .navbar-nav {

    @media (max-width: $screen-sm-max) {
      padding-top: 10px;
    }
  }

  .navbar-toggler {
    padding: 0;
  }

  .nav-item {

    &:not(:last-child) {
      margin-right: 35px;

      @media (max-width: $screen-sm-max) {
        margin-right: 0;
      }
    }

    > a {
      font-family: $font-b;
      color: $text-color;
      text-decoration: none;
      font-size: 16px;
      padding: 8px 0;
      display: block;

      &:hover,
      &:focus {
        color: $link-color;
      }

      &.active {
        color: $link-color;
      }
    }
  }
}