@import "../../../../scss/main/variables";

.basket-p {

  &__cell {
    
    &.controls {
      
      @media (min-width: $screen-md-min) {
        width: 40px;
      }
    }
  }

  &__pic-wrap {
    max-width: 100px;
    max-height: 100px;
  }

  &__name {
    margin-top: 0;
  }

  &__price {
    white-space: nowrap;
    color: $link-color;
    font-family: $font-m;
  }

  &__remove-btn {
    border: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: transparent;
    transition: $transition-default;

    &:hover {
      opacity: .5;
    }
  }
}