@import "../../../../scss/main/variables";

.basket-p {

  @media (max-width: $screen-sm-max) {
    display: block;
    position: relative;
    padding: 20px 15px;
  }

  &__cell {

    @media (max-width: $screen-sm-max) {

      .App & {
        padding: 0;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &.controls {
      width: 40px;

      @media (max-width: $screen-sm-max) {
        position: absolute;
        right: 15px;
        top: 15px;
        width: auto;
      }
    }

    &.pic {
      width: 150px;
      @media (max-width: $screen-sm-max) {
        margin-bottom: 10px;
      }
    }

    &.name {

      @media (max-width: $screen-sm-max) {
        margin-bottom: 10px;
      }
    }

    @media (max-width: $screen-sm-max) {
      display: block;
    }
  }

  &__pic-wrap {
    max-width: 100px;
    max-height: 100px;

    @media (max-width: $screen-sm-max) {
      max-width: 150px;
      max-height: 150px;
    }
  }

  &__name {
    margin-top: -3px;

    @media (max-width: $screen-sm-max) {
      margin-top: 0;
    }
  }

  &__price {
    white-space: nowrap;
    color: $link-color;
    font-family: $font-m;
  }

  &__remove-btn {
    border: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: transparent;
    transition: $transition-default;

    &:hover {
      opacity: .5;
    }
  }
}