@import "../../../../scss/main/variables";

$_sl-main-color:                    #fff;

.sl-main {
  position: relative;
  margin: 0 0 30px;

  .wrap {
    position: relative;
    width: $site-max-width;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: $screen-xs-max) {
      width: auto;
      left: 0;
      transform: translateX(0);
      margin: 0 $grid-gutter-width/-2;
    }

    //&.inited-not {
    //
    //  .slide {
    //
    //    &:nth-child(1) {
    //      float: none;
    //    }
    //
    //    &:nth-child(1n+2) {
    //      display: none;
    //    }
    //  }
    //}
  }

  .inner {
    position: relative;
    background-color: $brand-2;
  }

  .pic-wrap {
    width: 45%;

    @media (max-width: $screen-sm-max) {
      display: none;
    }

    img {
      margin-left:  auto;
    }
  }

  .container {
    height: 450px;
    display: flex;
    align-items: center;

    @media (max-width: $screen-sm-max) {
      height: 300px;
    }
  }

  .text-wrap {
    position: relative;
    z-index: 5;
    color: $_sl-main-color;
    padding: 3% 0 4%;
    width: 55%;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }

  .m-title {
    color: $_sl-main-color;
    margin-top: 0;
  }

  .text {
    color: $_sl-main-color;
  }
}