//
// Tables
// --------------------------------------------------


table {
  border-collapse: collapse; // Prevent double borders
}

th {
  // Matches default `<td>` alignment by inheriting from the `<body>`, or the
  // closest parent with a set `text-align`.
  text-align: inherit;
}

.App {

  table {
    max-width: 100%;
    width: 100%;
    background-color: $body-bg-color;
    margin-bottom: 32px;

    td,
    th {
      border-left: 1px solid transparent; //Firefox fix for right displaying tables
      border-right: 1px solid transparent; //Firefox fix for right displaying tables
      padding: 18px 20px;

      @media (max-width: $screen-md-max) {
        padding-left: 12px;
        padding-right: 12px;

        &:first-child {
          padding-left: 20px;
        }

        &:last-child {
          padding-right: 20px;
        }
      }

      @media (max-width: $screen-xs-max) {

        &:first-child {
          padding-left: 15px;
        }

        &:last-child {
          padding-right: 15px;
        }
      }
    }

    // The cell of header table
    th {
      text-align: left;
      color: $headings-color;
      font-size: 15px;
      line-height: (19/15);
      font-family: $font-m;
      background: #d2e6f3;
      font-weight: normal;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    // The body of table
    tbody {
      // Line in the body of table
      tr {

        &:not(:last-child) {
          border-bottom: 1px solid $border-color-base;
        }
      }
    }

    // Cell in the body of table
    td {
      vertical-align: top;
    }
  }
}

.table-responsive {
  box-shadow: 0 8px 19.2px 0 rgba(0, 0, 0, 0.13);
  overflow-x: auto;
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
  margin-bottom: 32px;

  @media (max-width: $screen-sm-max) {
    width: 100%;
    margin-bottom: 20px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid $border-color-base;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.table-wrapper,
.table-adaptive {
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 20px;
  }

  table {
    margin-bottom: 0;
  }
}